[Unit]
Description=EnviroSense FastAPI Service
After=network.target

[Service]
User=pragnya
WorkingDirectory=/home/pragnya/EnviroSenseAI
EnvironmentFile=/home/pragnya/EnviroSenseAI/backend/.env
ExecStart=/home/pragnya/EnviroSenseAI/.venv/bin/uvicorn backend.api.main:app --host 127.0.0.1 --port 8000 --workers 1
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
